.pragmatic_header {
    text-align: center;
    margin: 2rem 0;
}

.pragmatic_footer {
    text-align: center;
    margin-top: 2rem;
}

.pragmatic_logo {
    margin-top: 1rem;
    font-family: 'Anton', sans-serif;
}

.pragmatic_footer_button {
    font-size: .9rem;
}


@media screen and (max-width:500px) {
    html {
        font-size: 13px;
    }
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;

}

.header_nav {
    margin: 0 0.5rem;
}

.header_navbar {
    margin: 1rem 0;
}